* {
    -mdfx-font-color: BLACK;
    -mdfx-link-color: blue;
    -mdfx-border-color-1: #888;
    -mdfx-font-size: 14;

    -mdfx-bg-color-1: #36393f;
    -mdfx-bg-color-2: #36393f;
    -mdfx-bg-color-3: #36393f;

    -mdfx-bq-color-border: #4488cc; /* the blockquote's border color */
    -mdfx-bq-color-background: #0000ff0c; /* the blockquote's background color */
}

.markdown-text {
    -fx-font-family: ARIAL;
}
.markdown-italic {
    -fx-font-style: italic;
}
.markdown-bold {
    -fx-font-weight: bold;
}
.markdown-strikethrough {
    -fx-strikethrough: true;
}

.classname {
    -mdfx-font-color: red;
    -fx-font-size: 25;
}

.markdown-link {
    -fx-text-fill: red;
}