.combo-box-popup {
    -fx-background-color: #333333;
}
.combo-box-popup .list-cell{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #333333;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #AAAAAA;
}

.text-input {
    -fx-text-fill: #FFFFFF;
}