.combo-box-popup {
    -fx-background-color: #333333;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #333333;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #333333;
}

.combo-box-base {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.combo-box-base .list-cell {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #333333;
}

.combo-box {
    -fx-background-color: #333333;
}

.text-input {
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
    -fx-border-color: #222222;
    -fx-background-color: #333333;
    -fx-border-width: 2;
}