#root {
    -fx-background-color: #36393f;
    -fx-border-color: #36393f;
}

#messageListView #messageListView {
    -fx-background-color: #36393f;
    -fx-border-color: #36393f;
}


#messageListView .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #36393f;
}

#messageListView .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #36393f;
}

#messageListView  {
    -fx-border-color: #36393f;
    -fx-background-insets: 0 ;
    -fx-background-color: #36393f;
    -fx-padding: 1;
}

#messageListView .list-cell {
    -fx-background-color:#36393f;
}

#messageListView .list-cell #messageLabelTo {
    -fx-background-color: #ff9999;
    -fx-background-radius: 4;
}

#messageListView .list-cell #userNameLabel {
    -fx-text-fill: WHITE;
    -fx-background-color: #36393f;
}

#messageListView .list-cell #messageLabelFrom {
    -fx-background-color: WHITE;
    -fx-background-radius: 4;
}


#messageBox {
    -fx-background-color: #36393f;
}

#emojiButton {
    -fx-background-color: #36393f;
}

#sendButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
}