#loginButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-text-fill: #WHITE;
}

#signinButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-text-fill: #WHITE;
}

#settingsButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-text-fill: #WHITE;
}

#connectionLabel{
    -fx-text-fill: #ff9999;
}

#passwordTextField {
    -fx-text-box-border: #ff9999;
}

#rememberMeCheckbox {
    -fx-text-fill: WHITE;
}

#loginAsTempUser {
    -fx-text-fill: WHITE;
}

#usernameTextfield {
    -fx-text-box-border: #ff9999;
}

#root {
    -fx-background-color: #4d4d4d;
}