.scroll-pane {
    -fx-background-color:transparent;
}

#userName {
    -fx-text-fill: BLACK;
}

#scrollPaneUserBox {
    -fx-background-color: #e3e5e8;
}

#currentUserBox {
    -fx-background-color: #e3e5e8;
}

#box {
    -fx-background-color: #e3e5e8;
}

#chatBox {
    -fx-background-color: WHITE;
}

#userBox {
    -fx-background-color: #e3e5e8;
}

#onlineUsers .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #e3e5e8;
}

#onlineUsers .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #e3e5e8;
}

#onlineUsers  {
    -fx-border-color: #e3e5e8;
    -fx-background-insets: 0 ;
    -fx-background-color: #e3e5e8;
    -fx-padding: 1;
    -fx-text-fill: BLACK;
}


#onlineUsers .list-cell {
    -fx-border-color: #e3e5e8;
    -fx-background-insets: 0 ;
    -fx-background-color: #e3e5e8;
    -fx-padding: 1;
    -fx-text-fill: BLACK;
}

#privateChatList .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #f2f3f5;
}

#privateChatList .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #f2f3f5;
}

#privateChatList  {
    -fx-border-color: #f2f3f5;
    -fx-background-insets: 0 ;
    -fx-background-color: #f2f3f5;
    -fx-padding: 2 2 2 2;
    -fx-text-fill: BLACK;
}

#privateChatList .list-cell {
    -fx-border-color: #f2f3f5;
    -fx-background-insets: 0 ;
    -fx-background-color: #f2f3f5;
    -fx-text-fill: BLACK;
    -fx-padding: 0 0 0 0;
}

#welcomeToAccord {
    -fx-text-fill: BLACK;
}

#root {
    -fx-background-color: #e3e5e8;
}

#homeViewVBox {
    -fx-background-color: #e3e5e8;
}