.AlertStyle{
    -fx-background-color: WHITE;
}
.AlertStyle > *.button-bar > *.container{
    -fx-background-color: WHITE;

}
.AlertStyle > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.AlertStyle:header *.header-panel{
    -fx-background-color: WHITE;
}
.AlertStyle:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-fill: WHITE;
    -fx-text-fill: BLACK;
    -fx-alignment: TOP_CENTER;
}

#okButton {
    -fx-background-color: #7da6df;
}

#errorLabel {
    -fx-text-fill: BLACK;
}

#errorVbox {
    -fx-background-color: WHITE;
}