#root {
    -fx-background-color: WHITE;
}

#editButton {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}

#abortButton {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}

#deleteMsgScroll {
    -fx-background-color: WHITE;
}

#deleteWarning {
    -fx-text-fill: BLACK;
}

#deleteMsg .color{
    -fx-text-fill: BLACK;
    -fx-background-color: BLACK;
}

#chooseDelete {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
}

#chooseCancel {
    -fx-background-radius: 80;
    -fx-background-color: #717177;
}

#messageScrollPane #messageScrollPane {
    -fx-background-color: WHITE;
}

#messageScrollPane .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: WHITE;
}

#messageScrollPane .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: WHITE;
}

#messageScrollPane  {
    -fx-border-color: WHITE;
    -fx-background-insets: 0 ;
    -fx-background-color: WHITE;
    -fx-padding: 1;
}


.messageLabelTo {
    -fx-background-color: #7da6df;
    -fx-background-radius: 4;
}

#userNameLabel {
    -fx-text-fill: BLACK;
    -fx-background-color: WHITE;
}

.messageLabelFrom {
    -fx-background-color: #d4d4d4;
    -fx-background-radius: 4;
}

#messageBox {
    -fx-background-color: WHITE;
}

#emojiButton {
    -fx-background-color: WHITE;
}

#messageTextField {
    -fx-border-color: #7da6df;
}

#sendButton {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
}

#messageVBox {
    -fx-background-color: WHITE;
}

#playButton {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}

#timeLabel {
    -fx-text-fill: BLACK;
}

#playTimeLabel {
    -fx-text-fill: BLACK;
}

#volumeLabel {
    -fx-text-fill: BLACK;
}

.menu-item .label {
    -fx-text-fill: BLACK;
}

.menu-item:focused {
    -fx-background-color: #d9e8fb;
}

.context-menu {
    -fx-background-color: WHITE;
    -fx-background-radius: 6
}