.scroll-pane {
    -fx-background-color: transparent;
}

#serverList .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #e3e5e8;
}

#serverList {
    -fx-border-color: #e3e5e8;
    -fx-background-insets: 0;
    -fx-background-color: #e3e5e8;
    -fx-padding: 1;
}

#serverList .list-cell {
    -fx-border-color: #e3e5e8;
    -fx-background-insets: 0;
    -fx-background-color: #e3e5e8;
    -fx-padding: 1;
}

#settingsButton, #logoutButton, #helpButton {
    -fx-background-color: #7da6df;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}

#settingsButton:hover, #logoutButton:hover, #helpButton:hover {
    -fx-background-color: #a0bade;
    -fx-background-radius: 80;
}

#settingsButton:pressed, #logoutButton:pressed, #helpButton:pressed {
    -fx-background-color: #6899de;
    -fx-background-radius: 80;
}

#root {
    -fx-background-color: #ffffff;
    -fx-border-color: #e3e5e8;
}

#homeViewVBox {
    -fx-background-color: #e3e5e8;
}