#root {
    -fx-background-color: #36393f;
    -fx-border-color: #36393f;
}

#editButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}

#abortButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}


#rootDelete {
    -fx-background-color: #2f3136;
}

#deleteMsgScroll {
    -fx-background: #36393f;
}

#deleteWarning {
    -fx-text-fill: WHITE;
}

#deleteMsg .color {
    -fx-text-fill: WHITE;
    -fx-background-color: #36393f;
}

#chooseDelete {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
}

#chooseCancel {
    -fx-background-radius: 80;
    -fx-background-color: #717177;
}


#messageScrollPane #messageScrollPane {
    -fx-background-color: #36393f;
    -fx-border-color: #36393f;
}

#messageScrollPane .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #36393f;
}

#messageScrollPane .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: -10;
    -fx-opacity: 0;
    -fx-border-color: #36393f;
}

#messageScrollPane {
    -fx-border-color: #36393f;
    -fx-background-insets: 0;
    -fx-background-color: #36393f;
    -fx-padding: 1;
}

.list-cell {
    -fx-background-color: #36393f;
}

.messageLabelTo {
    -fx-background-color: #ff9999;
    -fx-background-radius: 4;
}

#userNameLabel {
    -fx-text-fill: WHITE;
    -fx-background-color: #36393f;
}

.messageLabelFrom {
    -fx-background-color: WHITE;
    -fx-background-radius: 4;
}


#messageBox {
    -fx-background-color: #36393f;
}

#emojiButton {
    -fx-background-color: #36393f;
}

#sendButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
}

#messageVBox {
    -fx-background-color: #36393f;
}

#playButton {
    -fx-background-color: #ff9999;
    -fx-background-radius: 80;
    -fx-text-fill: WHITE;
}

#timeLabel {
    -fx-text-fill: WHITE;
}

#playTimeLabel {
    -fx-text-fill: WHITE;
}

#volumeLabel {
    -fx-text-fill: WHITE;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #ffc7c7;
}

.context-menu {
    -fx-background-color: #202225;
    -fx-background-radius: 6;
}